{
  "presets": [
    "@babel/preset-env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-optional-chaining",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
